@import "tailwindcss";

@font-face {
  font-family: "Univers";
  src: url("/fonts/UniversRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bricolage";
  src: url("/fonts/BricolageGrotesque.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* --- Canela Deck Family --- */
/* Thin */
@font-face {
  font-family: "Canela Deck";
  src: url("/fonts/CanelaDeckFamily/CanelaDeck-Thin-Trial.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Canela Deck";
  src: url("/fonts/CanelaDeckFamily/CanelaDeck-ThinItalic-Trial.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: "Canela Deck";
  src: url("/fonts/CanelaDeckFamily/CanelaDeck-Light-Trial.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Canela Deck";
  src: url("/fonts/CanelaDeckFamily/CanelaDeck-LightItalic-Trial.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: "Canela Deck";
  src: url("/fonts/CanelaDeckFamily/CanelaDeck-Regular-Trial.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Canela Deck";
  src: url("/fonts/CanelaDeckFamily/CanelaDeck-RegularItalic-Trial.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "Canela Deck";
  src: url("/fonts/CanelaDeckFamily/CanelaDeck-Medium-Trial.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Canela Deck";
  src: url("/fonts/CanelaDeckFamily/CanelaDeck-MediumItalic-Trial.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: "Canela Deck";
  src: url("/fonts/CanelaDeckFamily/CanelaDeck-Bold-Trial.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Canela Deck";
  src: url("/fonts/CanelaDeckFamily/CanelaDeck-BoldItalic-Trial.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

/* Black */
@font-face {
  font-family: "Canela Deck";
  src: url("/fonts/CanelaDeckFamily/CanelaDeck-Black-Trial.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Canela Deck";
  src: url("/fonts/CanelaDeckFamily/CanelaDeck-BlackItalic-Trial.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

/* --- Univers Standard --- */
@font-face {
  font-family: "Univers";
  src: url("/fonts/Univers/UniversLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Univers";
  src: url("/fonts/Univers/UniversRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Univers";
  src: url("/fonts/Univers/UniversBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}


/* @font-face {
  
  font-family: "Univers";
  src: url("/fonts/UniversRegular.ttf") format("truetype");
  
  font-family: "Bricolage";
  src: url("/fonts/BricolageGrotesque.ttf") format("truetype");
  } */

:root {
  --background: var(--color-honeydew);
  --foreground: #171717;
  --honeydew: #f5fee9;
  --powder-blush: #f3a5a5;
  --almond-cream: #e6d4c6;
  --navy: #0a0087;
  --rich-cerulean: #3178a4;
  --dirty-yellow: #dedf2b;
  --orangish-red: #ed4b25;
  --dark-blue: #0e287f;
  --pastel-blue: #b1d4f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-honeydew: var(--honeydew);
  --color-powder-blush: var(--powder-blush);
  --color-almond-cream: var(--almond-cream);
  --color-navy: var(--navy);
  --color-rich-cerulean: var(--rich-cerulean);
  --color-dirty-yellow: var(--dirty-yellow);
  --color-orangish-red: var(--orangish-red);
  --color-dark-blue: var(--dark-blue);
  --color-pastel-blue: var(--pastel-blue);

  --font-bricolage: "Bricolage", sans-serif;
  --font-univers: "Univers", sans-serif;
  --font-canela: "Canela Deck", serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-univers);
}
